/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2020, 10:33:51 PM
    Author     : gambess
*/
/*.lni-logo:before {
   content:url(../img/aricaguau.svg);
}*/

.lni-logo {
    width: 50%;
    height: 50%;
    padding: 0px;
    border: 0px;
    margin: 7px;
}

a.navbar-brand {
  color: #000;
  font-weight: bold;
  font-family: 'Open-Sans', sans-serif;
}